.projectsWrapper {
  padding: 4vw 8vw 0vw 8vw;
}

.cardsWrapper {
  display: flex;
  flex-direction: row;
  padding-top: 1.5vw;
  height: 25vw;
  justify-content: center;
}

/* @media (max-width: 1000px) {
  .cardsWrapper {
      flex-direction: column;    
  }
} */
