* {
  font-family: "Roboto";
}

.textAndImgWrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-bottom: 2vw;
}

.workHeaderImg {
  aspect-ratio: 1000 / 667;
  width: 50%;
}

.workHeaderWrapper {
  padding: 0vw 8vw 0vw 8vw;
}
