* {
  font-family: "Roboto";
}

.footerWrapper {
  display: flex;
  flex-direction: row;
  padding: 2vw 2vw 1vw 2vw;
}

.breadcrumbsWrapper {
  margin-left: auto;
  padding-left: 7vw;
}

.initials {
  width: 7%;
  height: auto;
}
