* {
  font-family: "Roboto";
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  padding: 2vw 5vw 2vw 5vw;
}

.breadcrumbsWrapper {
  margin-left: auto;
  padding-left: 5vw;
}

.initials {
  width: 7%;
  height: auto;
}
